
.DS_Store
__pycache__
CLAUDE.md
.$*

build
fusesoc.conf
doc/private/*


sim/rtl_sim/run/simv.daidir
sim/rtl_sim/run/csrc
sim/rtl_sim/run/log
sim/rtl_sim/run/stats
sim/rtl_sim/run/simv
sim/rtl_sim/run/simv_fetch
sim/rtl_sim/run/stimulus.v
sim/rtl_sim/run/asphalt*.log
sim/rtl_sim/run/benchmark_traces
sim/rtl_sim/run/tb_arvern.vcd
sim/rtl_sim/run/*.gtkw
sim/rtl_sim/run/pmem.*
sim/rtl_sim/run/probes_variables.v
sim/rtl_sim/run/checker_data.mem
sim/rtl_sim/run/obj_dir
sim/rtl_sim/run/march_config.sh
sim/rtl_sim/run/arv_parameterization.v
sim/rtl_sim/run/WORK
sim/rtl_sim/run/submit_sim.f
sim/rtl_sim/run/submit_lint.f

sim/rtl_sim/src-c/*/*.elf
sim/rtl_sim/src-c/*/*.ihex
sim/rtl_sim/src-c/*/*.lst
sim/rtl_sim/src-c/*/*.size
sim/rtl_sim/src-c/*/*.o
sim/rtl_sim/src-c/*/*/*.o
sim/rtl_sim/src-c/embench-iot/.build.lock
sim/rtl_sim/src-c/sandbox
sim/rtl_sim/src-c/tmp/coremark/docs/html/search/BuildTargetsP.html
sim/rtl_sim/src-c/tmp/coremark/docs/html/search/ConfigurationC.html
sim/rtl_sim/src-c/tmp

sim/rtl_sim/src-c/embench-iot/bd
sim/rtl_sim/src-c/embench-iot/logs

rtl/verilog/*.org.v

synthesis/synopsys/alib-52
synthesis/synopsys/results
synthesis/synopsys/results_sweep
synthesis/synopsys/libraries/setup_t*
synthesis/synopsys/libraries/setup_lib_default*
synthesis/synopsys/libraries/t*
synthesis/synopsys/WORK
synthesis/synopsys/*_d
synthesis/synopsys/filenames*
synthesis/synopsys/filenames.log
synthesis/synopsys/rtl_params.tcl
synthesis/synopsys/submit_syn.tcl
synthesis/synopsys/clog*
synthesis/synopsys/default.svf
